.header__container {
  background-color: #147694;
  width: 100vw;
  height: 7.25vh;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #373738;
  border-bottom: 2.5px solid #0f576e;
  color: white;
}

.header__title {
  margin-left: 17vw;
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 115%;
}
.header__nav {
  display: flex;
  margin-right: 18.5vw;
  font-size: 0.7rem;
  align-items: center;
}
.nav__list {
  display: flex;
  list-style: none;
}
.nav__list--item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0.75rem 0.5rem;
  display: flex;
  align-items: center;
}
.nav__list--item:hover {
  cursor: pointer;
}
.nav__list--item.menu {
  padding-left: 0;
  padding-right: 0;
  margin: 0.55rem 0;
  display: flex;
  flex-direction: column;
}
.nav__list--item.active {
  background-color: #0e586e;
}
.nav__list--item.menu span {
  display: flex;
  align-items: center;
  padding-top: 15%;
  margin-top: 9.5vh;
}
.item1__menu {
  z-index: 15;
  background-color: #0e586e;
  list-style: none;
}
.item1__menu.show {
  visibility: visible;
}
.item1__menu.hide {
  visibility: hidden;
}
.item1__menu a {
  text-decoration: none;
  color: #ffffff;
}
.item1__menu li {
  padding: 1.5vh 0.5vw;
}
.item1__menu li:hover {
  background-color: #0b4253;
  text-decoration: underline;
  cursor: pointer;
}
.nav__list--item:hover {
  background-color: #0e586e;
}

@media screen and (max-width: 32rem) {
  .header__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .nav__list--item.menu {
    padding-top: 0;
    margin-top: 0;
  }
  .nav__list--item.menu span {
    margin-top: 0;
    padding-top: 0;
  }
  .header__nav {
    margin: 0;
    flex-direction: row;
    align-items: center;
  }
  .nav__list {
    margin-top: -1vh;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: auto;
  }
  .header__title {
    margin-left: 0vw;
  }
  .header__subtitle .header__nav {
    margin-right: 0vw;
  }
}
