.gallery__container {
  padding-top: 4.2vh;
  height: 67.1vh;
  width: 100vw;
  background-color: #1a9dc5;
}
.gallery__details {
  background-color: #137593;
  border-radius: 5px;
  padding: 3.5vh 1vw;
  width: 66.66vw;
  height: 58.5vh;
  margin-left: 16vw;
  margin-right: auto;
  color: white;
}
.gallery__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 87.5%;
}
.gallery__info {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 64%;
  margin: 1.5vh 0 1.5vh 0;
  color: #b6d3dd;
}
.gallery__info a:link,
.gallery__info a:visited {
  color: #b6d3dd;
}

.gallery__filters {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.65rem;
  color: #b6d3dd;
  margin-bottom: 0.5vh;
}
.gallery__filters input {
  margin: 0 0.3vw;
}

.gallery__cardList {
  /* height: 36vh; */
  height: 71%;
  display: flex;
  justify-content: space-between;
  color: #137593;
}
