.banner__container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  height: 28vh;
  width: 100vw;
  border-bottom: 2.5px solid #c0c0c0;
}
.banner__welcome {
  padding: 7vh 0 0 17vw;
  z-index: 20;
}
.banner__title {
  font-size: 300%;
  color: #dd4205;
  -webkit-text-stroke: 1px white;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}
.banner__subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 150%;
  color: #0c7190;
  font-weight: 600;
}
.banner__img {
  position: absolute;
  z-index: 10;
  margin-left: 60.5vw;
  height: 33vh;
  width: 17.5vw;
  border-radius: 0 0 500px 500px;
  border: 1px solid #ffffff;
  border-top: none;
  box-shadow: 0px 2px 16px -5px rgba(0, 0, 0, 0.5);
  background: center/cover no-repeat url('../../assets/random-mountain-pic.jpg');
  background-size: 230%;
}

@media screen and (max-width: 60rem) {
  .banner__img {
    height: 25vh;
  }
}

@media screen and (max-width: 44rem) {
  .banner__img {
    /* margin-left: 0vw; */
    height: 20vh;
  }
}

@media screen and (max-width: 35rem) {
  .banner__container {
    height: 50vh;
  }
  .banner__img {
    margin-left: 0vw;
    height: 33vh;
    width: 100vw;
  }
  .banner__welcome {
    padding: 5vh 0;
  }
  .banner__title {
    text-align: center;
  }
  .banner__subtitle {
    padding-top: 15vh;
    text-align: center;
  }
}
